html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
}

span.timestamp {
    font-style: italic;
}
